<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>&#9776;</button>
  <!--<button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>-->

  <ul class="nav navbar-nav ml-auto" style="margin-right: 20px;">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" [routerLink]="['/against']"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{totalCount}}</span></a>
    </li>

    <li class="nav-item dropdown" dropdown >
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">{{admin.name}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="loginOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>

</header>
